# Copy this file to .env and fill in your values
# Get these from your Supabase project settings → API

VITE_SUPABASE_URL=https://baxzabgeclyizpthyegx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJheHphYmdlY2x5aXpwdGh5ZWd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTgwNTYsImV4cCI6MjA4NzQ3NDA1Nn0.w68TE6AQL8NUW79kgR-urWvQegWVDxhyLJ1AjBqQK5M


VITE_API_URL=http://localhost:3001
